.elementor-11 .elementor-element.elementor-element-9e57091 .dia-banner-section .dia-banner-content h1 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-9e57091 .dia-banner-section .dia-banner-content p {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-9e57091 .dia-banner-section .dia-banner-content {
    max-width: 460px;
}

.elementor-11 .elementor-element.elementor-element-9e57091 .dia-banner-section {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-7664e172 .demo-page-landing .demo-title h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}

.elementor-11 .elementor-element.elementor-element-7664e172 .demo-page-landing .demo-title p {
    color: #212529;
    font-size: 16px;
}

.elementor-11 .elementor-element.elementor-element-4b9d342 {
    margin-top: -1px;
    margin-bottom: 0px;
}

.elementor-11 .elementor-element.elementor-element-fd6fafd .dia-service-section .dia-section-title h2 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-fd6fafd .dia-service-section .dia-service-review .dia-service-rate-text {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-fd6fafd .dia-service-section .dia-service-details .dia-service-item h3 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-fd6fafd .dia-service-section .dia-service-details .dia-service-item li {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-fd6fafd .dia-service-section {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-07272ba:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-07272ba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-07272ba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-07272ba>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-15b832f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-11 .elementor-element.elementor-element-1af5262 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-1af5262 .elementor-heading-title {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.528em;
}

.elementor-11 .elementor-element.elementor-element-ded3c6c .dia-fun-fact-section .dia-fun-fact-item .fun-fact-number h3 span {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-ded3c6c .dia-fun-fact-section .dia-fun-fact-item .fun-fact-number span {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-ded3c6c .dia-fun-fact-section .dia-fun-fact-item p {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-f4ece63 .dia-about-section .dia-section-title h2 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-f4ece63 .dia-about-content .dia-about-text {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-f4ece63 .dia-about-content .dia-about-list li {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-f4ece63 .dia-about-section {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-15f9bcf .dia-exp-section .dia-section-title h2 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-15f9bcf .dia-exp-section .dio-exp-text-area .dia-about-text {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-15f9bcf .dia-exp-section .skill-progress-bar .skill-set-percent h4 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-15f9bcf .dia-exp-section .skill-progress-bar .skill-set-percent .progress span {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-15f9bcf .dia-exp-section {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-71558d7:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-71558d7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-71558d7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-71558d7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1c27ddc>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-11 .elementor-element.elementor-element-dd45dc9 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-dd45dc9 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
}

.elementor-11 .elementor-element.elementor-element-955a8aa {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-955a8aa .elementor-heading-title {
    color: #fffffe;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.375em;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-port-more a {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-port-more:hover a {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-portfolio-img-text .dia-portfolio-text h3 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-portfolio-img-text .dia-portfolio-text h3:before {
    background-color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-portfolio-img-text .dia-portfolio-text span {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-portfolio-img-text:hover {
    background-color: #170D3D;
}

.elementor-11 .elementor-element.elementor-element-073dc49 .dia-portfolio-section {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-dd60790:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-dd60790>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-dd60790 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-dd60790>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-9687212>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-11 .elementor-element.elementor-element-e964ea3 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-e964ea3 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
}

.elementor-11 .elementor-element.elementor-element-222303c {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-222303c .elementor-heading-title {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.375em;
}

.elementor-11 .elementor-element.elementor-element-18cb99a {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667em;
}

.elementor-11 .elementor-element.elementor-element-f117972:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-f117972>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-f117972 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-f117972>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section .ei-team-pic-text .ei-team-social a:after {
    background-color: transparent;
    background-image: linear-gradient(81deg, #FF6600 0%, #FFCB05 75%);
}

.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section .ei-team-pic-text .ei-team-img:after {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FBE8E800 0%, #F2295B00 100%);
    border-style: double;
    border-width: 2px 2px 2px 2px;
    border-color: #3E3FD8;
}

.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section .ei-team-pic-text .ei-team-text h3 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section .ei-team-pic-text .ei-team-text p {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section .ei-team-content .owl-nav .owl-prev:hover,
.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section .ei-team-content .owl-nav .owl-next:hover {
    background-color: #282350;
}

.elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section {
    padding: 45px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-1ab858c .dia-testimonial-section .dia-section-title h2 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-1ab858c .dia-testimonial-section .carousel-inner .dia-testimonial_text p {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-1ab858c .dia-testimonial-section .carousel-inner .dia-testimonial_meta h4 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-1ab858c .dia-testimonial-section .carousel-inner .dia-testimonial_meta p {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-1ab858c .dia-testimonial-section .carousel-inner .carousel-item {
    background-color: #170D3D;
}

.elementor-11 .elementor-element.elementor-element-1ab858c .dia-testimonial-section {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-c16ab1a:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-c16ab1a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-c16ab1a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 00px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-c16ab1a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-863a2c5>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-11 .elementor-element.elementor-element-e9766e0 {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-e9766e0 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
}

.elementor-11 .elementor-element.elementor-element-fec4372 {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-fec4372 .elementor-heading-title {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.375em;
}

.elementor-11 .elementor-element.elementor-element-cc9803b {
    text-align: left;
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.667em;
}

.elementor-11 .elementor-element.elementor-element-0eea52c:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-0eea52c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-0eea52c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-0eea52c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-3cca722 .dia-blog-section .dia-blog-img-text .dia-author-area .dia-author-name span {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-3cca722 .dia-blog-section .dia-blog-img-text .dia-blog-text h3 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-3cca722 .dia-blog-section .dia-blog-img-text .dia-date-meta,
.elementor-11 .elementor-element.elementor-element-3cca722 .dia-blog-section .dia-blog-img-text .dia-blog-text .dia-blog-tag {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-3cca722 .dia-blog-section .dia-blog-content {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-da18338 .dia-newslatter-section .dia-newslatter-content .dia-newslatter-text h3 {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-da18338 .dia-newslatter-section .dia-newslatter-content .dia-newslatter-text p {
    color: #ffffff;
}

.elementor-11 .elementor-element.elementor-element-da18338 .dia-newslatter-section .dia-newslatter-content {
    background-color: #001621;
}

.elementor-11 .elementor-element.elementor-element-da18338 .dia-newslatter-section {
    background-color: #1E1840;
}

@media(max-width:1024px) {
    .elementor-11 .elementor-element.elementor-element-9e57091 .dia-banner-section .dia-banner-content {
        max-width: 100%;
    }

    .elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section {
        padding: 40px 0px 20px 0px;
    }

    .elementor-11 .elementor-element.elementor-element-6e22833>.elementor-element-populated>.elementor-widget-wrap {
        padding: 35px 0px 0px 180px;
    }
}

@media(max-width:767px) {
    .elementor-11 .elementor-element.elementor-element-1af5262 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-11 .elementor-element.elementor-element-955a8aa .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-11 .elementor-element.elementor-element-9687212 {
        width: 100%;
    }

    .elementor-11 .elementor-element.elementor-element-222303c .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-11 .elementor-element.elementor-element-32009a7 .ei-team-section {
        padding: 45px 0px 15px 0px;
    }

    .elementor-11 .elementor-element.elementor-element-c16ab1a {
        padding: 30px 0px 0px 0px;
    }

    .elementor-11 .elementor-element.elementor-element-863a2c5 {
        width: 100%;
    }

    .elementor-11 .elementor-element.elementor-element-fec4372 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-11 .elementor-element.elementor-element-6e22833>.elementor-element-populated>.elementor-widget-wrap {
        padding: 20px 0px 0px 3px;
    }

    .elementor-11 .elementor-element.elementor-element-3cca722 .dia-blog-section .dia-blog-content {
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-11 .elementor-element.elementor-element-2922c21 {
        width: 24%;
    }

    .elementor-11 .elementor-element.elementor-element-9687212 {
        width: 51.664%;
    }

    .elementor-11 .elementor-element.elementor-element-187c2e4 {
        width: 24%;
    }

    .elementor-11 .elementor-element.elementor-element-863a2c5 {
        width: 40%;
    }

    .elementor-11 .elementor-element.elementor-element-6ea312d {
        width: 60%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-11 .elementor-element.elementor-element-2922c21 {
        width: 10%;
    }

    .elementor-11 .elementor-element.elementor-element-9687212 {
        width: 80%;
    }

    .elementor-11 .elementor-element.elementor-element-187c2e4 {
        width: 10%;
    }

    .elementor-11 .elementor-element.elementor-element-863a2c5 {
        width: 70%;
    }

    .elementor-11 .elementor-element.elementor-element-6ea312d {
        width: 30%;
    }
}